version: "3.9"

services:
  backend:
    build: .
    container_name: bookstore-backend
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - PORT=3000
